<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    {% block head %}{% endblock %}
</head>
<body>

<header>
</header>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <div id="copyright">
        CSU 2021
    </div>
    <nav>
    </nav>
</footer>
</body>
